
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/MainApp.cshtml";
}

<h2>Home</h2>

<div class="row justify-content-center">
    <!-- Posts -->
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-11 col-11">
        <!-- New Post -->
        @if (Request.IsAuthenticated)
        {
            <form action="/posts/create" method="POST">
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <label for="content">Say Something:</label>
                    <textarea class="form-control" id="content" name="content"></textarea>
                </div>

                <button class="btn btn-primary btn-sm float-right" type="submit"><i class="fas fa-paper-plane"></i> Publish</button>
            </form>
        }
        else
        {
            <div class="alert alert-primary">
                Login <a href="/login">here</a> to post something <i class="em-svg em-wink"></i>
            </div>
        }

        <!-- Latest Posts -->
        <h4 style="margin-top: 25px;">Latest Posts</h4>
        @if (ViewBag.Posts.Count > 0)
        {
            foreach (SuperDevCommunity.Models.Post post in ViewBag.Posts)
            {
                <div class="post-container">
                    <p>@post.content</p>
                    <a class="text-muted float-lg-right" href="/posts/@post.id">Read More...</a>
                    <div class="row" style="margin-top: 50px;">
                        <!-- Post Creator -->
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <small class="text-muted">By <!-- TODO: Insert user's username -->User's username at @post.created_at.ToShortDateString()</small>
                        </div>
                        <!-- Like Button -->
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 text-right">
                            <a href=""><i class="far fa-thumbs-up"></i> Like</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="alert alert-primary">
                We don't have posts yet <i class="em-svg em-disappointed_relieved"></i>
            </div>
        }
    </div>

    <!-- Top Posts -->
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-11">

    </div>
</div>