@font-face {
    font-family: 'Inconsolata';
    src: url('../Fonts/Inconsolata-Regular.ttf');
}

.logo {
    font-family: 'Inconsolata';
    color: #FFFFFF;
}

.logo-blue {
    color: #007bff;
}

.logo-small {
    font-size: .9rem;
}

.post-container {
    margin-top: 15px;
    padding: .5rem .75rem;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

.pointer {
    cursor: pointer;
}

body {
    background-color: #333333;
}

.white-box {
    background-color: #FFFFFF;
    border-radius: .25rem;
    padding: 1rem;
}

/* Bootstrap modifications */
.navbar-dark {
    background-color: #333333 !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}