@font-face {
    font-family: 'Inconsolata';
    src: url('../Fonts/Inconsolata-Regular.ttf');
}

.logo {
    font-family: 'Inconsolata';
    color: #FFFFFF;
}

.logo-blue {
    color: #007bff;
}

.logo-small {
    font-size: .9rem;
}

.post-container {
    margin-top: 15px;
    padding: .5rem .75rem;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

.pointer {
    cursor: pointer;
}