@model SuperDevCommunity.Models.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/OnlyNavbar.cshtml";
}

<div class="row justify-content-center">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-11 col-11">
        <!-- User name and profile pic -->
        <div class="row align-items-center justify-content-center">
            <!-- User's profile pic -->
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-8 col-8">
                <img class="rounded-circle" src="~/img/profile_pics/@Model.profilePic" style="width: 100%;">
            </div>
            <!-- User's username -->
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-11 col-11">
                <h2 class="dropdown-toggle pointer" data-toggle="dropdown">@Model.username</h2>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/profile/changepassword">Change Password</a>
                    <a class="dropdown-item" href="">Change Profile Pic</a><!-- TODO: Change Profile Pic Modal -->
                </div>
            </div>
        </div>

        <!-- Option tabs -->
        <nav>
            <div class="nav nav-tabs" style="margin-top: 25px;">
                <a class="nav-item nav-link active" data-toggle="tab" href="#tabPosts">Posts <span class="badge badge-pill badge-dark">@ViewBag.posts.Count</span></a>
                <a class="nav-item nav-link" data-toggle="tab" href="#tabLikes">Likes <span class="badge badge-pill badge-dark">@ViewBag.likes.Count</span></a>
                <a class="nav-item nav-link" data-toggle="tab" href="#tabComments">Comments <span class="badge badge-pill badge-dark">@ViewBag.comments.Count</span></a>
            </div>
        </nav>
        
        <!-- Tabs -->
        <div class="tab-content" style="margin-top: 10px;">
            <!-- User's posts tab -->
            <div class="tab-pane fade show active" id="tabPosts">
                <!-- TODO: Show user's posts -->
            </div>
            <!-- User's likes tab -->
            <div class="tab-pane fade" id="tabLikes">
                <!-- TODO: Show user's likes -->
            </div>
            <!-- User's comments tab-->
            <div class="tab-pane fade" id="tabComments">
                <!-- TODO: Show user's comments -->
            </div>
        </div>
    </div>
</div>
