@model SuperDevCommunity.Models.Post

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/MainApp.cshtml";
}

<!-- Post Details -->
<div class="post-container">
    <!-- Post's User-->
    <div class="row align-items-center">
        <!-- User's photo -->
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-2">
            <img class="rounded-circle" src="/img/profile_pics/@Model.user.profilePic" style="width: 100%">
        </div>
        <!-- User's Name -->
        <div class="col-xl-11 col-lg-11 col-md-11 col-sm-10 col-10">
            <h4>@Model.user.username</h4>
        </div>
    </div>
    <p style="margin-top: 10px;">@Model.content</p>
    <div class="row">
        <!-- Like Button -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-right">
            <!-- TODO: Likes Counter -->211 <a href=""><i class="far fa-thumbs-up"></i> Like</a>
        </div>
    </div>
</div>

<!-- Comment form -->
<form action="/comments/create/@Model.id" method="POST" style="margin-top: 25px;">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="content">Say Something:</label>
        <textarea class="form-control" id="content" name="content"></textarea>
    </div>

    <button class="btn btn-primary btn-sm float-right" type="submit"><i class="fas fa-paper-plane"></i> Publish</button>
</form>

<!-- Post comment's -->
<!-- TODO: Post's comments -->